@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;1,500&family=Rubik:ital@0;1&display=swap");

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"),
    url("../fonts/Mont-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mont-Regular.woff2") format("woff2"),
    url("../fonts/Mont-Regular.woff") format("woff"),
    url("../fonts/Mont-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"),
    url("../fonts/Mont-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mont-SemiBold.woff2") format("woff2"),
    url("../fonts/Mont-SemiBold.woff") format("woff"),
    url("../fonts/Mont-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Mont";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: 600;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(6, 11, 16, 1);
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}
button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
button,
a {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  border-radius: 1.4rem;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 172rem;
  margin: 0 auto;
}

section {
  margin-bottom: 20rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* size */
.big-text {
  font-family: "Mont";
  font-weight: 600;
  font-size: 7rem;
  line-height: 100%;
}
.h1 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 130%;
}
.h2 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 130%;
}
.h3 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
}
.txt16 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 140%;
}
.txt24 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 2.4rem;
}
.txt20 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 2rem;
}
.txt18 {
  font-family: "Mont";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
}
.txt18-sem {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 140%;
}
.inter-txt15 {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  font-optical-sizing: auto;
}
@media (max-width: 48em) {
  .big-text {
    font-size: 7.2rem;
  }
  .h1 {
    font-size: 5.6rem;
    line-height: 120%;
  }
  .h2 {
    font-size: 4.4rem;
    line-height: 120%;
  }
  .h3 {
    font-size: 3.6rem;
    line-height: 120%;
  }
  .txt24 {
    font-size: 3.6rem;
  }
  .txt18-sem {
    font-size: 2.8rem;
  }
  .txt16 {
    font-family: "Mont";
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 130%;
  }
  .txt16-sem {
    font-family: "Mont";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 130%;
  }
  .txt14 {
    font-family: "Mont";
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 130%;
  }
}
/* haeder */
.header {
  position: absolute;
  top: 3.8rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.logo {
  width: 26.7rem;
}
.logo img {
  object-fit: contain;
}

.header-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header-content_links {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
/* .header-link_option {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
} */
.header-link {
  border: 1px solid rgba(56, 60, 64, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  min-height: 5rem;
  padding: 0 3.7rem;
  border-radius: 1.4rem;
}
.header-link:hover {
  border-color: white;
  background: white;
  color: rgba(6, 11, 16, 1);
}

.header-link_section {
  width: 15rem;
  border: 1px solid rgba(56, 60, 64, 1);
  position: relative;
  text-align: center;
  padding: 1.134rem 0;
  border-radius: 1.4rem;
  transition: background-color 0.3s ease;
}
.header-link_option {
  display: none;
}
.header-link_section-title {
  cursor: pointer;
  transition: border-color 0.3s;
}
.header-link_section:active .header-link_option {
  display: grid;
  padding-top: 1.5rem;
}
.header-link_section:hover .header-link_option {
  display: grid;
  padding-top: 1.5rem;
}
.link_option {
  padding: 1.5rem 0 1.5rem 0;
  color: rgba(155, 157, 159, 1);
}
.link_option:hover {
  background: white;
  color: rgba(6, 11, 16, 1);
}
.header-content_links-block {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
/* btn */
.btn-application {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  height: 5rem;
  background: none;
  padding: 0 3rem;
  overflow: hidden;
}

.btn-application::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assest/image/btn/пятна.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  z-index: 0;
}
.btn-application:hover::before {
  transform: scaleX(-1);
  opacity: 0.7;
}
.btn-application span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: relative;
  z-index: 0;
}
.btn-application_svg {
  width: 2.4rem;
  height: 2.4rem;
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    /* padding: 0 4rem; */
    width: 100%;
  }
  section {
    margin: 2rem 2rem 20rem 2rem;
  }
  .no-flex {
    display: none;
  }
}

/* main */
main {
  overflow: hidden;
  position: relative;
}
.main-banner {
  height: 90rem;
  position: relative;
  margin: 2rem 2rem 20rem 2rem;
}
.main-banner .container {
  width: 100%;
}
.main-baner_img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-baner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
}
.block-black {
  position: relative;
  top: 0;
  left: 0;
  background: rgba(6, 11, 16, 1);
  width: 42rem;
  height: 12rem;
  z-index: 2;
  border-radius: 1.4rem;
}

.block-black::before,
.block-black::after {
  content: "";
  position: absolute;
  background: rgba(6, 11, 16, 1);
  border-radius: 1.4rem;
}

.block-black::before {
  top: -1.4rem;
  right: -1.4rem;
  width: 2.8rem;
  height: 2.8rem;
  clip-path: polygon(0% 0%, 0% 220%, 60% 60%, 100% 40%, 60% 0%);
}

.block-black::after {
  bottom: -1.4rem;
  left: -1.4rem;
  width: 2.8rem;
  height: 2.8rem;
  clip-path: polygon(0% 0%, 0% 220%, 60% 60%, 100% 40%, 60% 0%);
}

@media (min-width: 2000px) {
  .block-black {
    display: none;
  }
}
.main-baner_container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15rem;
  position: absolute;
  top: 25rem;
  height: 52rem;
  z-index: 2;
}
.main-baner_container-text {
  width: 40rem;
}
.main-baner_container-box {
  height: max-content;
  display: grid;
  align-items: end;
  margin-top: auto;
  gap: 2rem;
}
.main-baner_container-subtitle {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.main-baner_container-title {
  width: 116rem;
}
.circle-orange {
  width: 0.7rem;
  height: 0.7rem;
  background: rgba(224, 138, 18, 1);
  border-radius: 50%;
}
.text-orange {
  color: rgba(224, 138, 18, 1);
}
.text-gray {
  color: rgba(155, 157, 159, 1);
}
.text-upp {
  text-transform: uppercase;
}
.text-align {
  text-align: center;
}
.header-burger {
  display: none;
}
.burgar-btn_close {
  display: none;
}
.burger-btn {
  display: none;
}
@media (max-width: 48em) {
  .header {
    top: 2rem;
  }
  .header .container {
    padding: 0 2rem;
  }
  .logo {
    width: 34.6rem;
  }
  .header-content {
    align-items: center;
  }
  .burger-btn {
    display: flex;
  }
  .header-content_links {
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(16, 16, 16, 1);
    transition: left 0.3s ease;
    padding: 2vh 4.267vw 40px 4.267vw;
    z-index: 7;
    overflow-y: auto;
  }
  .header-content_links-block {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    max-height: 150rem;
  }
  .header-content_links.open {
    left: 0;
  }

  .burgar-btn_close {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
  .burgar-btn_close svg {
    width: 5rem;
    height: 5rem;
  }
  .header .btn-application {
    display: none;
  }
  .header-burger {
    display: flex;
    width: 7.5rem;
    height: 7.5rem;
  }
  .header-link {
    width: 30rem;
    height: 10rem;
    border-radius: 2.8rem;
  }
  .header-link_section {
    width: 30rem;
    max-height: 41rem;
    padding: 2rem 0;
    border-radius: 2.8rem;
  }
  .main-banner {
    margin: 2rem 2rem 20rem 2rem;
    height: 100%;
  }
  .main-banner .container {
    height: 97vh;
  }
  .main-baner_container {
    display: grid;
    justify-items: end;
    height: 76.5vh;
    left: 2rem;
    right: 2rem;
    top: 17rem;
    width: auto;
  }
  .main-baner_container-title {
    width: 100%;
  }
  .main-baner_img {
    top: 13rem;
    height: 84vh;
  }
  .main-baner_container-box {
    order: 2;
    gap: 4.2rem;
  }
  .main-baner_container-text {
    text-align: right;
    font-size: 2.8rem;
    width: 85%;
  }
  .inter-txt15 {
    font-size: 3.2rem;
    font-family: "Mont";
    font-weight: 700;
    line-height: 140%;
  }
}
/* portfolio */

.main-portfolio {
  position: relative;
  display: grid;
  align-items: center;
  gap: 10rem;
}
.fon-spot_portfolio {
  position: absolute;
  width: 74.4rem;
  height: 73.6rem;
  z-index: -1;
  top: -24rem;
  left: 26rem;
}
.line-number {
  position: absolute;
  top: 50rem;
}
.line-number2 {
  width: 118rem;
  height: 196.5rem;
  position: absolute;
  top: -111rem;
  z-index: -1;
}
.main-portfolio_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-portfolio_top-block {
  display: flex;
  align-items: center;
  gap: 9rem;
}
.main-portfolio_main {
  display: flex;
  gap: 29.3rem;
}
.portfolio-main_content {
  display: grid;
}
.portfolio-main_content-text {
  height: fit-content;
  display: grid;
  gap: 4.4rem;
}
.main-content_btn {
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
}
.portfolio-top_subtitle {
  color: rgba(155, 157, 159, 1);
  width: 36rem;
}
.portfolio-top_title {
  width: 43rem;
}
.portfolio-item_btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: -2rem;
  height: auto;
}
.portfolio-item_btn:hover {
  color: rgba(224, 138, 18, 1);
}
.portfolio-item_btn:hover .arr-port_svg {
  display: none;
}
.portfolio-item_btn:hover::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.5C6.48 2.5 2 6.98 2 12.5C2 18.02 6.48 22.5 12 22.5C17.52 22.5 22 18.02 22 12.5C22 6.98 17.52 2.5 12 2.5ZM16.03 13.03L13.03 16.03C12.88 16.18 12.69 16.25 12.5 16.25C12.31 16.25 12.12 16.18 11.97 16.03C11.68 15.74 11.68 15.26 11.97 14.97L13.69 13.25H8.5C8.09 13.25 7.75 12.91 7.75 12.5C7.75 12.09 8.09 11.75 8.5 11.75H13.69L11.97 10.03C11.68 9.74 11.68 9.26 11.97 8.97C12.26 8.68 12.74 8.68 13.03 8.97L16.03 11.97C16.32 12.26 16.32 12.74 16.03 13.03Z" fill="%23E08A12"/></svg>')
    no-repeat center center;
  background-size: contain;
}
.arr-port_svg {
  width: 2.4rem;
  height: 2.4rem;
}
.main-container {
  overflow: hidden;
}
.main-container .container {
  width: 95%;
  margin-right: 0;
}
.portfolio-image {
  width: 83.9rem;
  height: 47.4rem;
  border-radius: 2.4rem;
}
.portfolio-main_block {
  overflow: hidden;
}
.btn-arror {
  width: 7rem;
  height: 7rem;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-arror .arr-port_svg {
  opacity: 0.3;
}
#nextBtn .arr-port_svg {
  transform: scaleX(-1);
}
#prevBtn .arr-port_svg {
  transform: scaleX(-1);
}
#prevBtn {
  background: url(../../assest/image/main/portfolio/пятна-btn.png) no-repeat top /
    cover;
}
#nextBtn {
  background: url(../../assest/image/main/portfolio/пятна-btn.png) no-repeat top /
    cover;
  transform: scaleX(-1);
}
@media (max-width: 48em) {
  .fon-spot_portfolio {
    display: none;
  }
  .line-number {
    top: 106rem;
  }
  .main-portfolio {
    margin: 2rem 2rem 20rem 2rem;
    height: 100%;
    gap: 6.4rem;
  }
  .main-portfolio_top {
    display: grid;
  }
  .main-portfolio_top-block {
    display: grid;
    gap: 3.2rem;
  }
  .main-container .container {
    width: 100%;
  }
  .portfolio-top_title {
    order: 1;
    width: 54rem;
  }
  .portfolio-top_subtitle {
    order: 2;
    width: 100%;
  }
  .portfolio-image {
    width: 64rem;
    height: 44rem;
  }
  .swiper-slide_block {
    display: grid;
    gap: 2.4rem;
  }
  .portfolio-item_btn {
    margin: 0;
  }
  .arr-port_svg {
    width: 4.8rem;
    height: 4.8rem;
  }
  .line-working {
    display: none;
  }
  .portfolio-item_btn:hover::after {
    width: 4.8rem;
    height: 4.8rem;
  }
}
/* numbers */
.main-numbers {
  position: relative;
}
.fon-spot_numbers {
  position: absolute;
  width: 74.4rem;
  height: 73.6rem;
  z-index: -1;
  top: 14rem;
  left: 89rem;
}
.line-working {
  position: absolute;
  width: 100%;
  /* height: 86rem; */
  top: -10rem;
  z-index: 0;
}

.main-numbers_content {
  display: grid;
  gap: 13rem;
}
.numbers-content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.numbers-content_main {
  width: 100%;
  gap: 10rem;
  align-items: flex-end;
}
.numbers-top_title {
  width: 84rem;
}
.numbers-content_main-block {
  width: 100%;
  justify-content: space-between;
  gap: 18rem;
}
.number-block_line {
  align-content: space-between;
  width: 100%;
  gap: 28rem;
}
.number-block_line-box {
  gap: 10rem;
  justify-content: space-between;
}
.number-line_box-text {
  width: 26rem;
  text-align: right;
}
@media (min-width: 1921px) {
  .line-working {
    position: absolute;
    width: 189rem;
    height: 105rem;
    top: -10rem;
    z-index: -1;
  }
  .fon-spot_portfolio {
    left: 70rem;
  }
  .main-numbers {
    display: flex;
    width: 100%;
  }
  .line-number2 {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    left: 32rem;
    top: -110rem;
  }
}

@media (max-width: 48em) {
  .fon-spot_numbers {
    top: 70rem;
    left: 2rem;
    width: 67rem;
    height: 63rem;
  }
  .main-numbers {
    margin: 2rem 2rem 20rem 2rem;
  }
  .main-numbers .portfolio-top_subtitle {
    order: 1;
  }
  .main-numbers_content {
    gap: 1.6rem;
  }
  .numbers-top_title {
    width: 100%;
  }
  .numbers-content_main {
    display: grid;
  }
  .number-block_line-box {
    display: grid;
    gap: 3.2rem;
    height: fit-content;
  }
  .numbers-content_main-top {
    display: grid;
    gap: 4rem;
  }
  .numbers-content_main-top .portfolio-item_btn {
    order: 2;
  }
  .numbers-content_main-block {
    width: 100%;
    gap: 2.8rem;
    order: 2;
  }
  .number-line_box-text {
    width: 34rem;
  }
  .number-block_line {
    gap: 9.6rem;
    height: fit-content;
  }
  .number-gap {
    gap: 14rem;
  }
  .number-line_box-num {
    height: fit-content;
  }
  .text-left {
    text-align: left !important;
  }
  .text-rigth {
    text-align: right;
  }
  .line-number2 {
    display: none;
  }
}
/* services */

.main-services_content {
  display: grid;
  gap: 10rem;
}
.main-services_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.services-top_title {
  width: 70rem;
}
.services-item_top {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 3.2rem;
}
.services-main_items {
  display: flex;
  justify-content: space-between;
}
.services-main_item {
  width: 40rem;
  height: 20rem;
  border: 1px solid rgba(56, 60, 64, 1);
  border-radius: 2.4rem;
  display: block;
}
.services-main_item:hover {
  background: url("../../assest/image/main/services/areanda.png") no-repeat top /
    cover;
}
.services-item_top-block {
  padding: 2.3rem;
  width: 7rem;
  height: 7rem;
  background: white;
  border-radius: 1.6rem;
}
.services-svg {
  width: 2.4rem;
  height: 2.4rem;
}
.services-main_item-line {
  border-bottom: 1px solid rgba(56, 60, 64, 1);
}
.services-main_item .portfolio-item_btn {
  padding: 2rem 3.2rem;
}
@media (max-width: 48em) {
  .services-main_items {
    display: grid;
    gap: 2rem;
  }

  .services-main_item {
    width: 71rem;
    height: auto;
  }
  .services-item_top-title {
    width: 19rem;
  }
  .main-services_top {
    display: grid;
    gap: 6.4rem;
  }
  .btn-application {
    width: fit-content;
    height: auto;
    border-radius: 2.8rem;
    padding: 3rem 6rem;
  }
  .btn-application span {
    gap: 1.6rem;
  }
  .btn-application_svg {
    width: 4.8rem;
    height: 4.8rem;
  }
}
/* working */
.main-working {
  position: relative;
}
.fon-spot_working {
  top: -22rem;
  left: 15rem;
  position: absolute;
  width: 74.4rem;
  height: 73.6rem;
  z-index: -1;
}
.main-working {
  display: flex;
  margin-bottom: 10rem;
  justify-content: center;
}
.main-working_content {
  display: grid;
  gap: 10rem;
}
.working-content_top {
  display: flex;
  gap: 28em;
  align-items: flex-end;
}
.working-content_top-title {
  width: 122rem;
}
.working-content_main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.working-text_oragen {
  color: rgba(224, 138, 18, 1);
}
.working-block_item {
  width: 131rem;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 21rem;
  padding: 3.4rem;
  border-bottom: 1px solid rgba(56, 60, 64, 1);
}
.working-block_item-text {
  width: 40rem;
  color: rgba(155, 157, 159, 1);
}
.services-item_top-title {
  width: 32rem;
}
.working-block_item .services-item_top {
  padding: 0;
}
.svg-clo {
  display: none;
}

@media (max-width: 48em) {
  .fon-spot_working {
    width: 58rem;
    height: 63rem;
    top: -66rem;
    left: 40rem;
  }
  .main-working {
    margin-bottom: 20rem;
  }
  .working-content_top {
    display: grid;
    gap: 3.2rem;
  }
  .working-content_top-subtitle {
    order: 2;
  }
  .working-content_main {
    display: grid;
    gap: 8.4rem;
    justify-items: center;
  }
  .working-block_item-text {
    width: 100%;
  }
  .main-working_content {
    gap: 4.8rem;
  }
  .working-content_top-title {
    width: 100%;
  }
  .working-content_main-items {
    width: 100%;
    order: 1;
  }
  .working-block_item {
    display: grid;
    width: 71rem;
    height: auto;
    gap: 3.2rem;
    padding: 3.2rem 0;
  }
  .working-text_oragen {
    font-size: 3rem;
  }
  .services-item_top-block {
    width: 11rem;
    height: 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-svg {
    width: 4rem;
    height: 7rem;
  }
  .services-item_top-title {
    width: 100%;
  }
  .svg-clo {
    /* display: flex; */
    width: 4.8rem;
    height: 4.8rem;
  }
  .arrow-drop-up {
    display: flex;
  }
  .arrow-drop-down {
    display: none;
  }
  .working-block_item-main {
    display: none;
  }
  .working-block_active .working-block_item-main {
    display: block;
  }
  .main-working .btn-application {
    order: 2;
  }
  .services-item_top {
    cursor: pointer;
  }
}
/* main-brands */
.main-brands {
  margin-bottom: 10rem;
}
.main-brands .container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.main-brands_content-top {
  display: flex;
  justify-content: center;
}
.brands-content_title {
  width: 68rem;
  margin-left: -15rem;
}
.main-brands_content {
  display: grid;
  justify-content: center;
  gap: 14rem;
}

.strip-container {
  overflow: hidden;
  position: relative;
  height: 8.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.strip {
  gap: 11rem;
  display: flex;
  white-space: nowrap;
  animation: scrollText linear infinite;
}

.moving-text {
  display: flex;
  align-items: center;
  gap: 11rem;
}

.image-moving {
  width: auto;
  height: 100%;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 48em) {
  .main-brands {
    margin-bottom: 20rem;
  }
  .brands-content_title {
    margin: 0;
    width: 71rem;
  }
  .moving-text {
    width: auto;
    gap: 6rem;
  }
  .main-brands_content {
    justify-content: left;
  }
  .main-brands_content-top {
    justify-content: left;
  }
  .image-moving {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

/* main-line */
.main-line {
  border-bottom: 1px solid rgba(56, 60, 64, 1);
}

/* contacts */
.main-contacts {
  position: relative;
}
.fon-spot_contacts {
  top: -16rem;
  right: -39rem;
  position: absolute;
  width: 66.4rem;
  height: 73.6rem;
  z-index: -1;
}
.main-contacts_main {
  display: flex;
  gap: 4rem;
}
.map-content_top {
  /* width: 100%; */
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
}
#map {
  width: 40rem;
  height: 43rem;
  border-radius: 2.4rem;
}
#map2 {
  width: 40rem;
  height: 43rem;
  border-radius: 2.4rem;
}

.contacts-addresses_top {
  display: grid;
  gap: 3rem;
}
.addresses_top-btns {
  display: flex;
  gap: 2.4rem;
}
.addresses_top-description {
  display: none;
  gap: 2.4rem;
}
.addresses-top_description-active {
  display: flex;
}
.addresses-link_active {
  background-color: white;
  color: rgba(6, 11, 16, 1);
}
.addresses-link {
  border: 1px solid rgba(56, 60, 64, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.7rem;
  width: 10.2rem;
}
.description-tel_title {
  color: rgba(155, 157, 159, 1);
  height: fit-content;
}
.addresses_top-description-tel {
  display: grid;
  gap: 1.2rem;
  height: fit-content;
}
.contacts-main_addresses {
  display: grid;
  align-content: space-between;
  height: 43rem;
}
.description-tel_block {
  display: grid;
  gap: 1.2rem;
}
.contacts-addresses_bottom {
  display: grid;
  gap: 1.6rem;
  padding: 2.4rem 8rem 2.4rem 2.4rem;
  border: 1px solid rgba(56, 60, 64, 1);
  border-radius: 2.4rem;
  height: fit-content;
  width: fit-content;
}
.contacts-addresses_bottom-block {
  display: flex;
  gap: 1.2rem;
  height: fit-content;
}
.link-soe {
  height: fit-content;
}
.link-soe_image {
  width: 4rem;
  height: 4rem;
  margin: 1.5rem;
}
.contacts-main_request {
  display: grid;
  gap: 4rem;
  width: 84rem;
}
.contacts-main_request-top {
  display: grid;
  gap: 2.4rem;
}
.contacts-main_request-title {
  height: fit-content;
}
.contacts-main_request-text {
  color: rgba(155, 157, 159, 1);
}
.contacts-main_request-form {
  display: grid;
  gap: 4rem;
}
.request-form_line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-input {
  width: 40rem;
  height: 5.5rem;
  border-radius: 1.4rem;
  padding: 1.6rem 2.4rem;
  border: 1px solid rgba(56, 60, 64, 1);
}
.form-input::placeholder {
  color: white;
}
.form-textarea {
  height: 11rem;
  width: 100%;
  border-radius: 1.4rem;
  padding: 1.6rem 2.4rem;
  border: 1px solid rgba(56, 60, 64, 1);
}
.form-textarea::placeholder {
  color: white;
}
.checkbox-block {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: fit-content;
}
.checkbox-block label {
  color: rgba(155, 157, 159, 1);
  font-size: 1.4rem;
  font-weight: 700;
}
.checkbox-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 1);
  appearance: none;
  position: relative;
  background: rgba(6, 11, 16, 1);
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
  transition: 500ms;
  outline: none;
  overflow: hidden;
}
.checkbox-input:checked {
  background: rgba(6, 11, 16, 1);
}
.checkbox-input::after {
  content: "";
  position: absolute;
  top: 34%;
  left: 30%;
  width: 10px;
  height: 7px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z' fill='white'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  transition: 500ms;
  transition: opacity 0.3s ease;
}
.checkbox-input:not(:checked)::after {
  opacity: 0;
}
.checkbox-input:checked::after {
  opacity: 1;
}
.request-form_bottom {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 48em) {
  .fon-spot_contacts {
    width: 58rem;
    height: 63rem;
    right: -23rem;
    top: -37rem;
  }
  .main-contacts_main {
    display: grid;
    gap: 8rem;
  }
  .contacts-main_request {
    width: 100%;
    gap: 6.4rem;
  }
  .request-form_line {
    display: grid;
    gap: 3.2rem;
  }
  .form-input {
    width: 71rem;
    height: 11rem;
    border-radius: 2.8rem;
    padding: 3.4rem 4rem;
  }
  .form-textarea {
    height: 21rem;
    border-radius: 2.8rem;
    padding: 3.4rem 4rem;
  }
  .request-form_bottom {
    display: grid;
    justify-items: center;
  }
  .request-form_bottom .btn-application {
    order: 2;
  }
  .checkbox-block {
    order: 1;
    gap: 2.4rem;
  }
  .checkbox-block label {
    font-size: 2.8rem;
  }
  .checkbox-input {
    width: 7.4vw;
    height: 6.4vw;
  }
  .checkbox-input::after {
    width: 3vw;
    height: 3vw;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z' fill='white'/%3e%3c/svg%3e ");
    /* top: 25%;
    left: 25%; */
  }
  .addresses-top_description-active {
    display: grid;
  }
  .addresses-link {
    width: 18rem;
    height: 8.6rem;
    border-radius: 2.8rem;
  }
  .contacts-main_addresses {
    height: auto;
    gap: 8rem;
  }
  #map {
    width: 71rem;
    height: 86rem;
  }
  .contacts-addresses_top {
    gap: 4.8rem;
  }
  .addresses_top-description-tel {
    gap: 2.4rem;
  }
  .description-tel_block {
    gap: 2.4rem;
  }
  .contacts-addresses_bottom {
    width: 100%;
    padding: 4rem;
  }
  .link-soe_image {
    width: 6.4rem;
    height: 6.4rem;
  }
}

/* footer */
footer {
  position: relative;
  margin-bottom: 4rem;
  display: grid;
  gap: 10rem;
}
.footer-container_block {
  display: grid;
  gap: 5.5rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content_top {
  display: grid;
  align-content: space-between;
  /* height: 23rem; */
}
.footer-content_top-block {
  display: grid;
  gap: 1.2rem;
}
.footer-top_block-text {
  color: rgba(155, 157, 159, 1);
  font-size: 1.4rem;
}
.footer-content_main {
  display: flex;
  gap: 17rem;
  height: 25rem;
}
.footer-content_main-block {
  display: grid;
  gap: 2.4rem;
}
.footer-main_block-items {
  display: grid;
  gap: 1.6rem;
}
.footer-main_block-item {
  color: rgba(155, 157, 159, 1);
}
.footer-content_bottom {
  border: 1px solid rgba(56, 60, 64, 1);
  border-radius: 2.4rem;
  width: 54.7rem;
}
.footer-content_bottom-block {
  padding: 2.4rem;
  display: flex;
  gap: 6.6rem;
}
.footer-content_bottom .portfolio-item_btn {
  padding: 2rem 3.2rem;
}
.footer-container_block-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-con_bottom-text {
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(155, 157, 159, 1);
}
.footer-con_bottom-box {
  display: grid;
  gap: 0.9rem;
}
.footer-con_bottom-box_text {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(155, 157, 159, 1);
}
.footer-container_block-bottom_line {
  display: flex;
  align-items: center;
  gap: 12rem;
}
.footer-container_block-bottom_box {
  display: flex;
  align-items: center;
  gap: 25rem;
}
.footer-container_block-bottom .contacts-addresses_bottom-block {
  gap: 1.5rem;
}
.footer-container_block-bottom .link-soe_image {
  margin: 0;
}
.svg-reiting {
  width: 14rem;
}
@media (max-width: 48em) {
  footer {
    margin-bottom: 8rem;
  }
  footer .container {
    padding: 0 2rem;
  }
  .footer-content {
    display: grid;
    gap: 8rem;
  }
  .footer-content_top {
    gap: 3.2rem;
  }
  .footer-content_bottom {
    width: 71rem;
    border-radius: 4.8rem;
  }
  .footer-content_main {
    height: auto;
    gap: 2rem;
  }
  .footer-content_main-block {
    height: fit-content;
    gap: 2rem;
  }
  .footer-main_block-item {
    width: 34rem;
  }
  .footer-content_bottom-block {
    padding: 4.8rem;
    display: grid;
    gap: 4.8rem;
  }
  .footer-container_block-bottom {
    display: grid;
    gap: 3.2rem;
  }
  .footer-container_block-bottom_box,
  .footer-container_block-bottom_line {
    display: grid;
    gap: 3.2rem;
  }
  .footer-con_bottom-text {
    font-size: 2.8rem;
    order: 2;
  }
  .footer-top_block-text {
    font-size: 2.8rem;
  }
  .svg-reiting {
    width: 28rem;
    height: 4.4rem;
  }
  .footer-con_bottom-box_text {
    font-size: 2.4rem;
  }
  .footer-content_bottom .portfolio-item_btn {
    padding: 3.2rem 4.8rem;
  }
  .footer-container_block-bottom .contacts-addresses_bottom-block {
    gap: 2.4rem;
  }
}
/* catalog */
.main-way {
  margin-top: 13.4rem;
  margin-bottom: 2.4rem;
}
.main-catalog {
  margin-bottom: 10rem;
}
.main-way_content {
  display: flex;
  gap: 1rem;
  color: rgba(155, 157, 159, 1);
  font-weight: 600;
  font-size: 1.6rem;
}
.content-link_active-decs {
  color: white;
}
.catalog-content_bottom {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.catalog-content_btn {
  display: flex;
  align-items: center;
  width: auto;
  height: 5.5rem;
  padding: 0 2.4rem;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1.4rem;
}
.catalog-content_btn-active {
  background: url("../../assest/image/catalog/пятн.png") no-repeat top / cover;
}
.main-catalog_content {
  display: grid;
  gap: 4rem;
}
.main-product_content-bottom {
  display: flex;
  justify-content: center;
}
.main-product_content {
  display: grid;
  gap: 4rem;
}
.main-product_content-main {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.product_content-item {
  width: 40rem;
  height: 55.7rem;
  border-radius: 2.4rem;
  border: 1px solid rgba(56, 60, 64, 1);
}
.product_content-item_image {
  background: rgba(0, 0, 0, 1);
  height: 40rem;
  border-radius: 2.4rem 2.4rem 0 0;
  overflow: hidden;
}
.product-image {
  width: auto;
  height: 40rem;
}
.product_content-item_block .product_content-item_block-title {
  margin: 2.4rem 2.4rem 1.6rem 2.4rem;
  height: 4.8rem;
}
.product_content-item_block .portfolio-item_btn {
  padding: 1.6rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_content-item:hover .arr-port_svg {
  transform: rotate(90deg);
}
.main-description_content {
  display: flex;
  gap: 4rem;
}
.description_content-line_title {
  color: rgba(224, 138, 18, 1);
}
.main-description_content-bottom {
  width: 69.3rem;
  height: 36.1rem;
  border-radius: 2.4rem;
  border: 1px solid rgba(56, 60, 64, 1);
}
.main-description_content-bottom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
}
.description_content-line_text {
  text-align: right;
  width: 29rem;
}
.text-ul_orange::marker {
  color: rgba(224, 138, 18, 1);
}
.description_content-top_title {
  width: 93.7rem;
}
.main-description_content-top {
  width: 98.7rem;
  display: grid;
  gap: 3.2rem;
}
.description_content-top_text {
  display: grid;
  gap: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
}
.description_content-top_text-ul {
  display: grid;
  gap: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
}
.top_text-ul {
  display: grid;
  gap: 1.2rem;
}
.main-request_content {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  border: 1px solid rgba(56, 60, 64, 1);
  border-radius: 2.4rem;
  background: url("../../assest/image/catalog/пятно3.png") no-repeat;
}
.main-request_content-bottom {
  width: 84rem;
}
.main-request_content-top {
  display: grid;
  gap: 2.4rem;
  height: fit-content;
}
.main-request_content-bottom .form-textarea {
  height: 5.5rem;
}
.request_content-top_text {
  width: 31.8rem;
  color: rgb(199, 201, 203);
}
@media (max-width: 48em) {
  .main-way {
    margin-top: 15.5rem;
    margin-bottom: 4rem;
  }
  .main-catalog_content {
    gap: 3.2rem;
  }
  .main-catalog {
    margin-bottom: 12.8rem;
  }
  .main-way_content {
    gap: 0.8rem;
    font-size: 2.8rem;
    flex-wrap: wrap;
  }
  .catalog-content_btn {
    font-size: 2.8rem;
  }
  .catalog-content_bottom {
    flex-wrap: wrap;
    gap: 1.4rem;
  }
  .content-link_active {
    color: white;
  }
  .catalog-content_btn {
    height: 7.2rem;
    border-radius: 2rem;
  }
  .main-product_content-main {
    gap: 1.8rem;
  }
  .product_content-item {
    width: 34.6rem;
    height: 65rem;
    border-radius: 3.2rem;
  }
  .product-image {
    width: 34.6rem;
    height: 34.6rem;
  }
  .product_content-item_image {
    height: 34.6rem;
    border-radius: 3.2rem 3.2rem 0 0;
  }
  .product_content-item_block .product_content-item_block-title {
    height: 12.8rem;
    margin: 3.2rem 2rem;
  }
  .product_content-item_block .portfolio-item_btn {
    padding: 3.2rem 2rem;
  }
  .main-description_content {
    display: grid;
    gap: 8rem;
  }
  .main-description_content-top {
    width: 100%;
  }
  .description_content-top_title {
    width: 100%;
  }
  .description_content-top_text-ul {
    font-size: 3.6rem;
  }
  .main-description_content-bottom {
    height: auto;
    width: 71rem;
  }
  .description_content-line_text {
    width: 48.8rem;
  }
  .main-description_content-bottom_line {
    height: fit-content;
    padding: 4.6rem 3.2rem;
  }
  .description_content-top_text {
    gap: 3.2rem;
  }
  .main-request_content {
    display: grid;
    gap: 6.4rem;
  }
  .main-request_content .main-request_content-bottom .form-input {
    width: 63rem;
  }
  .main-request_content-bottom {
    width: 63rem;
  }
  .main-request_content-bottom .form-textarea {
    width: 63rem;
    height: 22rem;
  }
  .main-request_content-bottom .checkbox-input {
    height: 4rem;
  }
  .main-request_content {
    background: url("../../assest/image/catalog/пятно3-rigth.png") no-repeat
      right;
  }
  .main-request_content-bottom .request-form_bottom {
    gap: 6.4rem;
  }
}
/* productcard */
.main-productcard_content {
  display: grid;
  gap: 10rem;
}
.main-productcard_content-top {
  display: flex;
  gap: 4rem;
}
.productcard-top_image {
  background: rgba(0, 0, 0, 1);
  width: 54.7rem;
  height: 48.9rem;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-tovara {
  width: 54.7rem;
  height: 40rem;
  object-fit: cover;
}
.productcard-top_description {
  width: 54.6rem;
  display: grid;
  gap: 2.4rem;
  height: fit-content;
}

.productcard-top_block {
  display: grid;
  gap: 3.2rem;
  width: 54.7rem;
  height: fit-content;
  border: 1px solid rgba(56, 60, 64, 1);
  padding: 3.2rem;
  border-radius: 2.4rem;
}
.productcard-top_block-line {
  display: flex;
  justify-content: space-between;
}
.productcard-top_block-box {
  display: grid;
  gap: 1.6rem;
}
.productcard-top_block-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 48em) {
  .main-productcard_content-top {
    display: grid;
    gap: 6.4rem;
  }
  .productcard-top_image {
    width: 100%;
    order: 2;
  }
  .productcard-top_description {
    width: 100%;
    order: 1;
  }
  .productcard-top_block-box {
    gap: 3.2rem;
  }
  .productcard-top_block {
    width: 100%;
    padding: 6.4rem 4rem;
    gap: 6.4rem;
    order: 3;
  }
  .main-productcard_content-top .text-gray {
    order: 4;
  }
}
/* specifications */
.productcard-bottom_left-specifications {
  display: grid;
  height: fit-content;
  width: 84rem;
  gap: 2.4rem;
}
.productcard-bottom_left {
  display: grid;
  gap: 5rem;
  height: fit-content;
}
.productcard-bottom_left-btns {
  display: flex;
  gap: 4rem;
  height: fit-content;
}
.productcard-btn {
  height: 5.5rem;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1.4rem;
  padding: 0 2.4rem;
}
.productcard-btn_active {
  background: url("../../assest/image/btn/пятна-btn_card.png") no-repeat;
  background-size: 100% 100%;
}

.left-specifications_content-line {
  grid-gap: 4px;
  -webkit-column-break-inside: avoid;
  align-items: start;
  display: grid;
  grid-template-columns: 2fr auto;
  overflow: hidden;
}
.left-specifications_content {
  display: grid;
  gap: 1.6rem;
}

.line-text_fication-span {
  padding: 0.6rem 0;
  position: relative;
  z-index: 1;
}
.left-specifications_content-line_text {
  position: relative;
}
.left-specifications_content-line_text:after {
  border-bottom: 1px solid rgba(56, 60, 64, 1);
  content: " ";
  flex-grow: 1;
  min-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.left-specifications_content-line_more {
  text-align: right;
}
.main-productcard_content-bottom {
  display: flex;
  gap: 4rem;
}
.productcard-bottom_right {
  display: grid;
  gap: 4rem;
  border: 1px solid rgba(56, 60, 64, 1);
  padding: 4rem;
  height: fit-content;
  border-radius: 2.4rem;
  background: url("../../assest/image/card/form-p.png") no-repeat;
}
.productcard-bottom_right .request_content-top_text {
  width: 100%;
}
.productcard-bottom_right .request-form_bottom {
  justify-content: space-between;
}
.productcard-bottom_right .checkbox-block {
  order: 1;
}
.productcard-bottom_right .btn-application {
  order: 2;
}
.main-productcard_content-bottom .main-request_content-bottom {
  width: 76rem;
}
.main-productcard_content-bottom .form-input {
  width: 36rem;
}

#description .left-specifications_content-line_text:after {
  display: none;
}
@media (max-width: 48em) {
  .main-productcard_content-bottom {
    display: grid;
    gap: 16rem;
  }
  .productcard-bottom_left-specifications {
    width: 100%;
  }
  .productcard-bottom_right .form-input {
    width: 63rem;
  }
  .main-productcard_content-bottom .main-request_content-bottom {
    width: 63rem;
  }
  .line-text_fication-span {
    display: flex;
    width: 50rem;
  }
  .left-specifications_content-line_more {
    white-space: nowrap;
  }
  .productcard-btn {
    height: 7.2rem;
    font-size: 2.8rem;
    white-space: nowrap;
    border-radius: 2rem;
  }
  .productcard-bottom_left-btns {
    gap: 2rem;
  }
}
/* main-title */
.main-title {
  margin-bottom: 4.6rem;
}
.main-contacts_content {
  display: flex;
  gap: 5.6rem;
}
.main-contacts_content-top {
  display: grid;
  gap: 13.2rem;
}
.main-contacts_top-block {
  display: grid;
  gap: 5.6rem;
}
.contacts_block-top {
  display: grid;
  gap: 3rem;
}
.contacts_block-top_box {
  display: grid;
  gap: 5.6rem;
}
.contacts-block {
  display: grid;
  gap: 2rem;
}
.contacts-content_line {
  border: 1px solid rgba(56, 60, 64, 1);
  height: auto;
}
.main-contacts #map {
  width: 80rem;
}
.main-contacts #map2 {
  width: 80rem;
}
@media (max-width: 48em) {
  .main-title {
    margin-bottom: 8rem;
  }
  .main-contacts_content {
    display: grid;
  }
  .contacts-content_line {
    display: none;
  }
  .main-contacts_content-top {
    gap: 4.8rem;
  }
  .main-contacts #map {
    width: 71rem;
    height: 52rem;
    border-radius: 3.2rem;
  }
  .main-contacts #map2 {
    width: 71rem;
    height: 52rem;
    border-radius: 3.2rem;
  }
}
/* news */
.main-news {
  display: grid;
  gap: 14rem;
}
.main-news_top {
  display: grid;
  gap: 10rem;
}
.main-news_content-left {
  display: flex;
  justify-content: space-between;
  width: 100rem;
}
.new-container_content {
  display: flex;
  gap: 4rem;
}
.image-news {
  width: 53rem;
  height: 31rem;
  border-radius: 2.4rem;
  object-fit: cover;
  object-position: 50% 80%;
}
.main-news_content-rigth {
  width: 68rem;
  display: grid;
  gap: 3.2rem;
}
.news_content-rigth_block {
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: grid;
  gap: 1.6rem;
}
.content-rigth_block-p {
  display: grid;
  gap: 2.6rem;
}
.main-news_content-rigth .portfolio-item_btn {
  margin-bottom: 0;
}
@media (max-width: 48em) {
  .header-link_option {
    display: grid;
    padding: 1.5rem 0 0 0;
  }
  .link_option {
    padding: 0.8rem 0 0.8rem 0;
  }
  .new-container_content {
    display: grid;
    gap: 4.8rem;
  }
  .main-news_content-left {
    width: 100%;
    display: grid;
    gap: 2.6rem;
  }
  .main-news_content-left .h3 {
    order: 2;
  }
  .image-news {
    width: 71rem;
    height: 60rem;
    border-radius: 3.2rem;
  }
}
/* 404 */
.main-404 {
  height: 90rem;
  position: relative;
  margin: 2rem 2rem 20rem 2rem;
}
.main-404_content {
  position: absolute;
  right: 13.9rem;
  top: 22rem;
  width: 88.8rem;
}
.main-404_text {
  font-size: 24rem;
  font-weight: 700;
  height: fit-content;
}
.main-404_content .h1 {
  margin-bottom: 8rem;
}
.main-404_gz {
  width: 69rem;
  height: 70rem;
  position: absolute;
  top: 15rem;
}
@media (max-width: 48em) {
  .main-404_content {
    right: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}
/* main-certificates */
.services-text {
  margin: 5rem 0;
}
.main-certificates_content {
  position: relative;
}
.certificates-content_block-certif {
  display: grid;
  justify-items: center;
  gap: 2.4rem;
}
.certificates-content_block {
  position: relative;
  justify-content: center;
  display: flex;
  gap: 4rem;
  margin-top: 5rem;
}
.image-certif {
  border-radius: 2.4rem;
  width: 52rem;
  height: 73rem;
  object-fit: cover;
}
.certificates-image {
  position: absolute;
  width: 84rem;
  height: 85rem;
  left: -20rem;
  top: 5rem;
  z-index: -1;
}
.certificates-image2 {
  position: absolute;
  width: 74rem;
  height: 75rem;
  z-index: -1;
  top: -15rem;
  right: -35rem;
  transform: scaleX(-1);
}
@media (max-width: 48em) {
  .image-certif {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .certificates-image2,
  .certificates-image {
    display: none;
  }
  .certificates-content_block-certif {
    border-bottom: 1px solid rgba(56, 60, 64, 1);
    padding-bottom: 4rem;
    display: grid;
    justify-items: center;
    gap: 4.8rem;
    height: fit-content;
  }
  .certificates-content_block {
    display: grid;
    margin-top: 4rem;
  }
  .certificates-block_title {
    border-bottom: 1px solid rgba(56, 60, 64, 1);
    padding-bottom: 4rem;
  }
}
/* main-services */
.main-services .main-news_content-left {
  width: auto;
}
.main-services .image-news {
  width: 69rem;
  height: 40rem;
}
.main-services .main-news_content-rigth {
  width: 100%;
  align-content: space-between;
}
.description-title {
  justify-content: space-between;
}
@media (max-width: 48em) {
  .main-services .main-news_content-rigth {
    justify-items: center;
  }
  .main-services .content-rigth_block-p {
    height: auto;
    transition: max-height 0.3s ease;
  }
  .services-hidden {
    max-height: 12.6rem;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .arrow-ser-up {
    display: flex;
  }
  .arrow-ser-down {
    display: none;
  }
  .main-services .image-news {
    width: 71rem;
    height: 60rem;
  }
}
/* main-articles */
.main-articles {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
.main-articles_content {
  display: flex;
  justify-content: space-between;
  gap: 24rem;
}
.main-articles_content-bottom {
  display: grid;
  gap: 4rem;
}
.main-articles_content .portfolio-item_btn {
  margin: 0;
}
.articles_content-item {
  padding: 2rem 0 1.5rem 6rem;
  display: grid;
  justify-items: end;
  gap: 3.2rem;
  margin: 4rem 0;
}
.articles_content-item_block {
  display: grid;
  gap: 1.6rem;
}
.articles-gz {
  position: absolute;
  width: 69rem;
  height: 70rem;
  z-index: -1;
}
.main-article_content {
  display: grid;
  gap: 9rem;
}
.article-content_top {
  border: 1px solid rgba(56, 60, 64, 1);
  border-radius: 2.4rem;
  width: 110%;
  max-height: 793px;
  padding: 5.2rem 0 5.2rem 6.3rem;
  display: grid;
  gap: 1.6rem;
}
.article-content_top .article-content_top-text {
  width: 122rem;
}
.article-content_top-block {
  display: grid;
  gap: 1.6rem;
}
.article-content_main {
  display: flex;
  gap: 4rem;
  height: fit-content;
}
.article-content_main .article-content_bottom {
  width: 100%;
  height: fit-content;
}
.article-content_bottom {
  width: 140rem;
  display: grid;
  gap: 3.2rem;
}
.article-content_bottom-block {
  display: grid;
  gap: 3rem;
}
.article-content_bottom-title {
  height: fit-content;
}
@media (max-width: 48em) {
  .main-articles_content {
    display: grid;
    gap: 0;
  }
  .articles_content-item {
    justify-items: start;
    padding: 8rem 0 8rem 0;
    margin: 0;
    gap: 4.8rem;
  }
  .articles_content-item_block {
    gap: 4.8rem;
  }
  .articles_content-item_text {
    max-height: 34rem;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .article-content_top {
    width: 100%;
    max-height: fit-content;
    padding: 4rem;
    gap: 4rem;
  }
  .article-content_top .article-content_top-text {
    width: 100%;
  }
  .article-content_main {
    display: grid;
    gap: 8rem;
  }
  .article-content_bottom {
    width: 100%;
  }
}
/* projects */
.main-projects_content {
  display: grid;
  gap: 4rem;
}
.projects-content_main {
  display: grid;
}
.projects-content_main-top {
  display: flex;
  align-items: flex-start;
  height: 88rem;
  border-top: 1px solid rgba(56, 60, 64, 1);
  border-bottom: 1px solid rgba(56, 60, 64, 1);
}
.projects-content_main-item {
  width: 40rem;
  display: grid;
  justify-items: end;
  gap: 1.6rem;
}
.one {
  margin: 2.2rem 2.2rem 0 0;
}
.two {
  margin: 2.2rem 2.2rem 0 2.2rem;
}
.tree {
  margin: 2.2rem 0 0 2.2rem;
}
.projects-content_main-item_line {
  border: 1px solid rgba(56, 60, 64, 1);
  height: 88rem;
}
.projects-content_main-item_block {
  display: grid;
  gap: 3.2rem;
}
.projects-content_main-item .portfolio-item_btn {
  margin: 0;
}
.image-projects {
  width: 40rem;
  height: 40rem;
  border-radius: 2.4rem;
}
.image-all {
  height: 55rem;
  object-fit: cover;
}
.projects-item_block-decs {
  display: grid;
  gap: 1rem;
}
@media (max-width: 48em) {
  .projects-content_main-top {
    display: grid;
    height: 100%;
  }
  .projects-content_main-item_line {
    height: 1px;
    width: 100%;
  }
  .projects-content_main-item {
    width: 100%;
    /* height: 101rem; */
    justify-items: start;
    gap: 6.4rem;
  }
  .one,
  .two,
  .tree {
    margin: 8rem 0;
  }
  .projects-content_main-item .portfolio-item_btn {
    order: 2;
  }
  .image-projects {
    width: 71rem;
    height: 80rem;
    object-fit: cover;
  }
  .projects-item_block-decs {
    display: grid;
    gap: 3.2rem;
  }
}
/* product */
.project-content_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mySwiper2 {
  width: 143rem;
}
.main-project_content {
  display: grid;
  gap: 3.2rem;
}
.project-content_bottom {
  width: 143rem;
}
.video-project {
  width: 45rem;
  height: 54rem;
  border-radius: 2.4rem;
}
.image-slide {
  width: 45rem;
  height: 54rem;
  border-radius: 2.4rem;
  object-fit: cover;
}
@media (max-width:48em) {
  .mySwiper2{
    width: 71rem;
  }
  .main-project_content{
    gap: 4.8rem;
  }
  .video-project,.image-slide{
    width: 71rem;
    height: 76rem;
  }
  .project-content_bottom{
    width: 100%;
  }
}
/* new-content */
.main-new{
  margin-top: 10rem;
}
.main-new_content{
  display: grid;
  gap: 10rem;
}
.new-content_top-block{
  display: grid;
  gap: 3.2rem;
  width: 128rem;
}
.new-content_top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.new-content_top-data{
  width: 40rem;
}
.new-content_top-block .mySwiper2{
  width: 128rem;
}
.new-content_top-block .video-project,.image-slide{
  width: 40rem;
  height: 48rem;
}
.new-content_bottom{
  display: flex;
}
.new-content_bottom .mySwiper2{
  width: 171rem;
}
.mySwiper3{
  width: 171rem;
  height: fit-content;
}
/* .mySwiper3 .swiper-slide:nth-child(1n) {
  width: 44rem;
  height: 55rem;
}
.mySwiper3 .swiper-slide:nth-child(2n) {
  width: 80rem;
  height: 55rem;
}
.mySwiper3 .swiper-slide:nth-child(3n) {
  width: 41rem;
  height: 37rem;
} */
/* .mySwiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
@media (max-width:48em) {
  .new-content_top{
    display: grid;
    gap: 4.8rem;
  }
  .new-content_top-block .video-project, .image-slide{
    width: 71rem;
    height: 76rem;
  }
  .new-content_top-block .mySwiper2{
    width: 71rem;
  }
  .new-content_top-block{
    width: 71rem;
    gap: 4.8rem;
  }
}



.swiper-slide {
  width: auto;
}
.swiper {
  margin: 0;
}
.main-portfolio .swiper-slide {
  width: auto;
}
.on-grid {
  display: grid;
}
.no-grid {
  display: none;
}
.no-flex {
  display: flex;
}
.on-flex {
  display: none;
}
@media (max-width: 48em) {
  .no-flex {
    display: none;
  }
  .on-grid {
    display: none;
  }
  .no-grid {
    display: grid;
  }
  .on-flex {
    display: flex;
  }
}
@media (min-width: 1925px) {
  .main-container .container {
    width: 172rem;
    margin: 0 auto;
  }
}
